ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyS0", RUN+="/home/pi/raspios-gps-hat-tty/gnss", SYMLINK+="gps%n", TAG+="systemd", ENV{SYSTEMD_WANTS}="gpsdctl@%k.service"
